.idea
.imdone

/app/.gulp
/app/temp
/app/node_modules
/app/root/components
/app/root/assets/.sass-cache

/app/dev.md
/app/noted.cmd
/app/npm-debug.log

/electron/*

/storage/*
!/storage/example.md

noted.lnk
