// https://css-tricks.com/textarea-tricks/


#editor {

    position:relative;

    textarea {
        @include fill-parent;

        //min-height: 100%;

        //resize: vertical;
        resize:none;

        border:none;
        outline: none;
        box-shadow: none;

        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;


    }

}
