// https://css-tricks.com/textarea-tricks/


#editor {

    position:relative;

    textarea {
        //@include fill-parent;

        width: 100%;
        //min-width:100%;

        //min-height: 100%;

        //resize: vertical;
        resize:none;

        border:none;
        outline: none;
        box-shadow: none;

        position:absolute;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;

    }

}
