
html {
    @include natural-box();
    height: 100%;
}

body {
    height: 100%;
    color:$textblue;

    &.rtl {
        direction: rtl;
    }
}

header {
    //@include outer-container;
    //@include clearfix();

    position:fixed;
    width:100%;
    height:$pad-top;
    top:0;
    z-index:100;


    background-color: $dkblue;
    //padding: 0.5em 1em;

    h1 {
        line-height: $base-line-height * 0.5;
        font-size:1em;
        float:left;
        margin:12px 0px 20px 10px;
    }

    #toolbar {
        margin:4px 36px 0px 0px;
        float:right;
        button {
            line-height: $base-line-height * 0.7;
        }
    }


}

section {
    //background-color: green;

    padding-top:$pad-top;
    padding-bottom:$pad-bottom;
    //min-height:100%;
}

footer {
    //@include outer-container;
    //@include clearfix();

    position:fixed;
    width:100%;
    height:$pad-bottom;
    bottom:0;
    z-index:100;

    background-color: $ltblue;
    //padding: 0.5em 1em;
    //text-align: right;

    .credits {
        float:right;
        line-height: $base-line-height*0.7;
        font-size: 0.8em;
    }

    .notification {
        text-align:left;
        line-height: $base-line-height*0.9;
        font-size: 0.9em;

    }
}
